# Part 3

In this part:

* more functions (complex & lambda)
* list & dictionary comprehensions

In [19]:
import pandas as pd
import numpy as np
import random

# More on functions

In [72]:
# functions can return something or they don't
# when does a function return something?
def odd_even_checker(number):
    if number % 2 == 0:
        print(str(number) + "is even")
    else:
        print(str(number) + "is odd")

# what does this function return?
a = odd_even_checker(7)

7is odd

In [74]:
# but what is a?
a

In [76]:
# nothing is returned, let's check the datatype
type(a)

NoneType

In [79]:
def return_none():
    return

In [80]:
b = return_none()

In [81]:
type(b)

NoneType

In [92]:
# but what about this?
def inner_function():
    return 7

def outer_function():
    inner_function()
    
outer_function()

In [93]:
type(outer_function())

NoneType

In [94]:
# is again None!
# to make this work, we need to pass the returned value of the inner_function
def inner_function():
    return 7

def outer_function():
    return inner_function()
    
outer_function()

7

Key takeaways:
* only because a function doesn't return something, that doesn't mean it doesn't do anything
* if you dont have an explicit `return` statement in your function, your function returns a `NoneType`
* hold also true for the print statement:

In [95]:
type(print('A'))

A

NoneType

**function as an object**

In [97]:
# let's define another function
def yell(text):
    return text.upper() + "!"

yell('can you wash the dishes')

'CAN YOU WASH THE DISHES!'

In [98]:
yell

In [100]:
# yell without the () is just the bare function as an object
# I can assign that to a variable
bark = yell

In [101]:
# and say
bark('woof')

'WOOF!'

In [ ]:
# you can look into del here, to be more confused with
# what happens if you delete the name, but that's not 
# important

Objects in Python can be thrown around, e.g. put in other objects:

In [102]:
my_funcs = [yell,
            str.lower,
            str.capitalize,
           ]

In [103]:
# now what is this?
my_funcs

[<function __main__.yell(text)>,
 <method 'lower' of 'str' objects>,
 <method 'capitalize' of 'str' objects>]

In [105]:
[func('hey there') for func in my_funcs]

['HEY THERE!', 'hey there', 'Hey there']

or you can do this:

In [108]:
my_funcs[0]('hey there')

'HEY THERE!'

#### passing functions to other functions

In [113]:
# function of higher order (map() is such a function)
def greet(func):
    greeting = func('Hi, I am a python program')
    print(greeting)
    
greet(bark)

HI, I AM A PYTHON PROGRAM!

In [114]:
# or with another "whisper" function
def whisper(text):
    return text.lower() + '...'

greet(whisper)

hi, i am a python program...

**default parameters**

In [34]:
def cubic(x, a, b, c=1, d=1):
    return a*x**3 + b*x**2 + c*x + d

In [37]:
cubic(3, 2, 4, 1)

94

In [38]:
# leaving out providing one default parameter, and 
# the function falls back to the default
cubic(3, 2, 4)

94

In [42]:
# you can explicitly provide the value of the parameters,
# order doesn't matter, but: non-default must be provided first
cubic(3, 2, 4, d=4, c=1)

97

In [47]:
# and if you wish, you can provide all explicitely!
cubic(c=1, d=4, b=4, x=3, a=2)

97

### Arguments unpacking

#### as dictionary, with explicity parameters

In [50]:
kwargs = {'a':2,'b':4,'c':1,'d':4,'x':3}

In [51]:
# call the function with those k-word arguments (kwargs)
cubic(**kwargs)

97

#### as list, non-explicitly

In [57]:
args = [3, 2, 4, 1, 4]
cubic(*args)

97

**if you're unsure about what your arguments in a function should be, you can even do this:**

In [68]:
def multiply_all(*args):
    result=1
    for arg in args:
        result*=arg
    return result

In [70]:
multiply_all(4,5,6,3,9)

3240

# Lambda functions

In [116]:
lambda x, y : x + y

In [118]:
add = lambda x, y : x + y
add(4,5)

9

In [ ]:
# same like
def add(x,y):
    return x + y

In [ ]:
# most elegant
(lambda x, y : x + y)(4,5)
# you don't have to bind the function to a name before 
# executing it. all is done inline

In [119]:
# usefull e.g. here
tuples = [(1, 'd'), (2, 'b'), (4, 'a'), (3, 'c')]

# sort the tuples by a key, which is provided by a function
sorted(tuples, key=lambda x: x[1])

[(4, 'a'), (2, 'b'), (3, 'c'), (1, 'd')]

# List comprehensions

Why a list comprehension? compare these two code snippets, which do the same

**snippet 1**
```python
my_list = []
for i in range(10):
    my_list.append(i**2)
my_list
```

**snippet 2**

```python
[i**2 for i in range(10)]
```

"I am confused, how to build it?" 
You start with an iterable you want to loop over, from which you want to generate a new list, whose elements are transformed in some way. And then you build it up step by step.

In [6]:
my_iterable = range(10)

# first step: Just loop through the elements,  and do nothing (builds the original list again)
[x for x in my_iterable]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# then change the first x according to your wishes:
[str(x) for x in my_iterable]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [8]:
# add conditions to it, if you want
[str(x) for x in my_iterable if x > 3 and x < 8]

['4', '5', '6', '7']

In [9]:
# if you want to use if-else, all if-else conditions must be written before 'for'
# add conditions to it, if you want
[str(x) if x > 3 and x < 8 else 'z' for x in my_iterable]

['z', 'z', 'z', 'z', '4', '5', '6', '7', 'z', 'z']

**Tiny exercise**: Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 20.

In [124]:
[x for x in range(21) if x%2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Tiny exercise 2**: Use a list comprehension to select and print the names of all CSV files in the `data` folder.

In [38]:
import os
list_files = [f for f in os.listdir('data') if f.endswith('.txt')]

print(list_files)

['myfile2.txt', 'myfile1.txt', 'myfile.txt']

#### nested comprehension

In [123]:
arr = np.array([[1,6,3,4],
                [3,2,6,2],
                [0,2,3,9],
                [2,5,2,7],
               ])

In [124]:
[number for lst in arr for number in lst]

[1, 6, 3, 4, 3, 2, 6, 2, 0, 2, 3, 9, 2, 5, 2, 7]

# Dictionary comprehensions

What do I want?
```python
{1:1,
2:4,
3:9,
4:16,
5:25,
...
}
```

In [16]:
# good approach: first write down the list comprehension first for all the resulting values
[x * x for x in range(6)]

[0, 1, 4, 9, 16, 25]

In [17]:
# then add the keys and make it a list comprehension
squares = {x: x * x for x in range(6)}

**another example**

What do I want?

```python
{'data': 4,
 'science': 7,
 'machine': 7,
 'learning': 8}
```

In [14]:
words = ['data', 'science', 'machine', 'learning']

[len(i) for i in words]

[4, 7, 7, 8]

In [15]:
{i:len(i) for i in words}

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8}

***with conditionals***

In [20]:
{i:len(i) if len(i) > 5 else "short" for i in words}

{'data': 'short', 'science': 7, 'machine': 7, 'learning': 8}

In [22]:
# imagine how many lines that would span
# building that in a for-loop
dct = {}
for word in words:
    if len(word) > 5:
        dct[word] = len(word)
    else:
        dct[word] = 'short'
print(dct)

{'data': 'short', 'science': 7, 'machine': 7, 'learning': 8}

***zip!***

When do we need it? when we want to iterate over two iterables of the **same** length and for every iteration, we want to have the pair of the current index (like a zipper!)

In [23]:
words = ['data', 'science', 'machine', 'learning']
values = [5, 3, 1, 8]

for pair in zip(words, values):
    print(pair)

('data', 5)
('science', 3)
('machine', 1)
('learning', 8)

In [24]:
# unpack the pair!
for word, value in zip(words, values):
    print('word is ', word, 'value is ', value)

word is  data value is  5
word is  science value is  3
word is  machine value is  1
word is  learning value is  8

In [25]:
# let's use it in a dict comprehension
{word:value for word, value in zip(words, values)}

{'data': 5, 'science': 3, 'machine': 1, 'learning': 8}

### why could that be important for us data analysts?

* because dictionaries are very comfortable as input into dataframes
* and dictionaries and dictionary-like are widely used as datatypes for data, e.g. JSON (later in course, in webscraping)

In [28]:
pd.DataFrame({word:value for word, value in zip(words, values)}, index=[0])

   data  science  machine  learning
0     5        3        1         8

important also for just creating a DataFrame quickly and play around with it, try out if something works

In [30]:
import pandas as pd
import random

col_names = 'abcdefghijklmnopqrstuvwxyz'

data = {c:random.sample(range(1,100),20) for c in col_names}


pd.DataFrame(data)

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,14,67,88,67,14,87,34,7,35,42,...,99,1,19,28,69,89,54,40,17,36
1,71,26,16,94,43,2,82,65,72,97,...,8,5,96,24,63,39,72,32,29,23
2,35,82,58,61,83,38,48,29,25,78,...,45,50,24,22,89,30,97,10,76,33
3,1,8,24,13,72,81,79,35,56,4,...,53,85,21,76,28,88,14,76,46,53
4,68,30,97,99,18,10,88,31,69,31,...,46,34,27,59,61,4,43,45,35,31
5,40,9,64,26,39,31,31,68,40,95,...,37,18,84,95,87,68,62,86,44,81
6,7,39,87,90,15,24,5,34,66,13,...,18,38,4,75,4,96,79,91,32,95
7,55,61,37,98,3,25,76,17,82,94,...,70,11,14,4,39,20,1,48,1,68
8,82,6,32,9,35,19,80,38,18,15,...,82,61,25,65,26,47,2,19,66,30
9,85,81,27,50,13,41,37,56,42,66,...,7,25,30,45,57,92,23,42,40,50
10,9,94,62,42,68,70,42,94,90,86,...,36,67,45,6,93,6,76,81,22,56
11,20,22,47,20,25,91,83,77,51,98,...,12,72,28,92,60,80,5,22,52,46
12,58,21,36,77,76,5,26,46,13,11,...,5,64,87,87,20,31,24,57,68,70
13,37,43,91,64,85,98,74,99,87,27,...,47,99,83,42,47,43,57,28,24,28
14,99,99,53,28,9,4,44,62,7,6,...,61,77,41,10,1,59,67,66,42,35
15,67,40,76,56,82,36,99,14,37,88,...,6,10,16,16,98,7,34,98,56,29
16,64,72,66,81,77,28,59,72,22,73,...,58,32,13,94,82,52,40,95,62,5
17,30,73,95,40,16,23,2,1,94,46,...,98,55,50,99,81,75,49,60,84,2
18,80,84,65,51,56,84,38,32,21,48,...,52,91,8,73,32,42,73,34,99,49
19,57,96,34,34,59,37,35,97,17,75,...,16,82,15,12,76,97,69,68,5,74

### key takeaway list and dictionary comprehension

List = [**item_expression** for **item** in **iterable** (if conditional)]

Dictionary = {**key_expression** : **value_expression** for **key, value** in **iterable (if conditional)**}